# --- Python ---
__pycache__/
*.py[cod]
.venv/
venv/
env/

# --- Database ---
*.db
*.sqlite3
app/ecommerce.db  # <--- CRITICAL! Never push your local DB

# --- Frontend (Node.js) ---
node_modules/
frontend/node_modules/
build/
dist/

# --- OS Junk ---
.DS_Store
Thumbs.db

# --- Secrets ---
.env